.logo {
  width: 80px;
}

.pt-150 {
  padding-top: 150px;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.li-style-none {
  list-style: none;
}

.li-inline {
  display: inline;
  margin-right: 2px;
}
